@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/1017060/ss_06449fca125663f7886a28777bbb27573f59a2df.1920x1080.jpg?t=1668464779");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


}
